<section class="flex flex-col gap-2">
  <h1 class="text-[hsl(240, 100%, 5%)] py-3 text-[2.5em] text-[700] leading-[1]">
    <b>The Bright <br> Future of Web 3.0?</b>
  </h1>
  <p class="text-[#5D5F79] leading-[1.5]">
    We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
    But is it really fulfilling its promise?
  </p>
  <button class="w-[150px] my-2 bg-[#F15E50] uppercase px-[1.5rem] py-[0.5rem] text-[#fff]">
    Read more
  </button>
</section>