<main class="flex flex-col gap-2 w-[95%] mx-auto">
  <article class="flex gap-4">
    <img class="object-fit w-[20%]" src="/images/image-retro-pcs.jpg" alt="retro">
    <section class="flex flex-col">
      <h3 class="text-[#C5C6CE] text-[1.5em]">
        <b>
          01
        </b>
      </h3>
      <h2>
        <b>
          Reviving Retro PCs
        </b>
      </h2>
      <p class="text-[#a2a2a7]">What happens when old PCs are given modern upgrades?</p>
    </section>
  </article>
  <article class="flex gap-4">
    <img class="object-fit w-[20%]" src="/images/image-top-laptops.jpg" alt="laptop">
    <section class="flex flex-col">
      <h3 class="text-[#C5C6CE] text-[1.5em]">
        <b>
          02
        </b>
      </h3>
      <h2>
        <b>
          Top 10 Laptops of 2022
        </b>
      </h2>
      <p class="text-[#a2a2a7]">Our best picks for various needs and budgets.</p>
    </section>
  </article>
  <article class="flex gap-4">
    <img class="object-fit w-[20%]" src="/images/image-gaming-growth.jpg" alt="gaming">
    <section class="flex flex-col">
      <h3 class="text-[#C5C6CE] text-[1.5em]">
        <b>
          03
        </b>
      </h3>
      <h2>
        <b>
          The Growth of Gaming
        </b>
      </h2>
      <p class="text-[#a2a2a7]">How the pandemic has sparked fresh opportunities.</p>
    </section>
  </article>
</main>