<article class="flex flex-col gap-4 bg-[#000] px-4 py-2 text-[#fff]">
  <h2 class="text-[1.5em]">
    <b>New</b>
  </h2>
  <section class="border-b-[1px] border-[#5D5F79]">
    <h3 class="text-[1em] text-[700]">
      <b>
        Hydrogen VS Electric Cars
      </b>
    </h3>
    <p class="text-[#C5C6CE] pb-4">
      Will hydrogen-fueled cars ever catch up to EVs?
    </p>
  </section>
  <section class="pt-2 border-b-[1px] border-[#5D5F79]">
    <h3 class="text-[1em] text-[700]">
      <b>
        The Downsides of AI Artistry
      </b>
    </h3>
    <p class="text-[#C5C6CE] pb-4">
      What are the possible adverse effects of on-demand AI image generation?
    </p>
  </section>
  <section class="pt-2">
    <h3 class="text-[1em] text-[700]">
      <b>
        Is VC Funding Drying Up?
      </b>
    </h3>
    <p class="text-[#C5C6CE] py-2">
      Private funding by VC firms is down 50% YOY. We take a look at what that means.
    </p>
  </section>
</article>