<header class="flex justify-between p-[1rem]">
  <figure class="w-[10%]">
    <img class="object-fit w-[100%]" src="/images/logo.svg" alt="logo">
  </figure>
  <nav>
    <img class="object-fit w-[100%]" src="/images/icon-menu.svg" alt="close">
    <ul class="hidden">
      <li>
        Home
      </li>
      <li>
        New
      </li>
      <li>
        Popular
      </li>
      <li>
        Trending
      </li>
      <li>
        Categories
      </li>
    </ul>
  </nav>
</header>